
html, body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

body {
  margin: 2% 5% 0 5%; 
}

pre {
  white-space: pre-line;
}

h1 {
  color: steelblue;
  border-bottom: 2px solid steelblue;
}

#status {
  border-left: 2px solid steelblue;
  padding: 5px;
  color: gray;
}

a {
  text-decoration: none;
}

#buttons {
  margin-top: 10px;
}

select {
  width: 150px;
  height: 20px;
  font-size: 12px;  
}

label {
  width: 60px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
}

button {
  cursor: pointer;
  width: 150px;
  color: white;
  background: steelblue;
  border: none;
  padding: 15px;
  margin-left: 10px;
  font-size: 12pt;
  float: left;
}

#left, #right {
  width: 20px;
}

#image-table {
  border-collapse:collapse;
}

#image-view, #image-size {
  text-align: center;
}

#image-view img {
  height: 150px;
}

#image-view td {
  border: 1px solid black;
  border-bottom: none;
  min-width: 150px;
}

#image-size td {
  border: 1px solid black;
  border-top: none;
}

.img-diff-del {
  background:#ffe6e6;
}

.img-diff-ins {
  background:#e6ffe6;
}
